{% extends 'base.html.twig' %}

{% block body %}
<style>
</style>

<div class="modal" id="formations">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class ="modal-header">
    <h2 class ="modal-title">Formations</h2>
            </div>
            <div class ="modal-body">
        
        <h2>O'Clock<h2>
        <h4>Formation en Téléprésentiel - Labellisée Grande Ecole du Numérique<h4>
        <h4>Janvier-Juin 2020</h4>
        <h6>700h intensives <h6>
            <h6>-> 3 mois de Socle: HTML5/CSS3/PHP/Javascript<h6>
            <h6>-> 1 mois de spécialisation en Symfony<h6>
            <h6>-> 1 mois de projet: "His Life" </h6>
            <hr>
        <h2>Université d'Helsinki , Reaktor<h2>
        <h4>MOOC <a href="https://certificates.mooc.fi/validate/jj3ngy8uhi" target="_blank" rel="noopener noreferrer">"Initiation to AI and Machine Learning"</a><h4>
        <h4>Avril-Mai 2020</h4>
        <h6>MOOC entièrement en Anglais d'une durée de 6 semaines à propos de l'Intelligence Artificielle</h6>
            <hr>
        <h2>Faculté Economie Université Montpellier 1<h2>
        <h4>Sciences Economiques<h4>
        <h4>2010-2014</h4> 
            <hr>
        <h2>INSEEC Business School, Paris<h2>
        <h4>Programme Master Grandes Ecoles<h4>
        <h4>2009-2010</h4>
            <hr>
        <h2>Lycée St François de Sales, Evreux (Normandie)<h2>
        <h4>Classe Préparatoire aux Grandes Ecoles<h4>
        <h4>2007-2009</h4>
        
            </div>
        </div>
    </div>
</div>

{% endblock %}