{% extends 'base.html.twig' %}

{% block body %}
<style>
</style>

<div class="modal" id="projets">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class ="modal-header">
    <h2 class ="modal-title">Projets Realises</h2>
            </div>
            <div class ="modal-body">
    <h3> His Life<h3>
        <h6> Projet permettant aux parents séparés ou éloignés d'échanger à propos de leurs enfants<h6>
            <p> Réalisé en équipe de 4 développeurs</p>
            <ul class= "no-style">
                 <li><a href="https://www.linkedin.com/in/audrey-bodin-2a3b72193/" target="_blank" rel="noopener noreferrer">Audrey Bodin </a>(Product Owner) </li>
                 <li><a href="https://www.linkedin.com/in/floriane-gitton-a7bba41a9/" target="_blank" rel="noopener noreferrer">Floriane Gitton </a> (Scrum Master)</li> 
                 <li><a href="https://www.linkedin.com/in/franckbats/" target="_blank" rel="noopener noreferrer">Franck Bats </a> (Git Master) <a href="http://franck-bats.fr" target="_blank" rel="noopener noreferrer"> (franck-bats.fr)</a></li>
            </ul>
            <hr>
            <ul class="no-style">
                <li>Compte personnel et création d'une famille avec lien d'invitation pour faciliter l'ajout des autres membres de la famille</li>
                <li>Profil d'enfants</li>
                <li>Stockage des documents (bulletins de note, mots des professeurs et carnet de santé des enfants) </li>
                <li>Dashboard dynamique pour accéder rapidement aux derniers documents ajouté ou événements</li>
                <li>Galerie photo</li>
                <li>Calendrier interactif</li>
                <li>Messagerie par posts</li>
                <li>Répertoire de contacts</li>
            </ul>
            <hr>
            <h6> Démonstration du projet réalisée sur Twitch</h6>
            <hr>
            <iframe width="fit-content" height="315" src="https://www.youtube.com/embed/N6r0w_LuQu4?start=2284" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>

{% endblock %}