{% extends 'base.html.twig' %}

{% block body %}
<style>
</style>

<div class="modal fade" id="experiences">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class ="modal-header">
    <h2 class ="modal-title">Expériences</h2>
    <button type="button" class="close" data-dismiss="modal" style="margin-top:0px;"><span>&times;</span> </button>
            </div>
            <div class ="modal-body">
        
        <h2>Lead Développeur Back-End<h2>
        <h4>His Life (full remote)<h4>
        <h4>Mai-Juin 2020</h4>
        <h6>Développement de l'application web "His Life" à l'aide du framework Symfony</h6>
            <hr>
        <h2>Monteur, Magasinier<h2>
        <h4>SERCI, Alès, Occitanie<h4>
        <h4>Janvier 2018 - Juillet 2019</h4>
        <h6>Fabrication d'équipements type tondeuse à gazon à destination des professionnels , gestion des stocks</h6>
            <hr>
        <h2>Aide Chauffeur-Livreur<h2>
        <h4>ADS Boissons, Alès, Occitanie<h4>
        <h4>2013-2016</h4>
        <h6>Livraison de marchandises à destination des professionnels de type Bars, Restaurants, Campings...</h6>    
            <hr>
        <h2>Elu UFR, Membre Actif<h2>
        <h4>Asso. Etudiante "GIDEEM", Université Montpellier 1, Occitanie<h4>
        <h4>2011-2014</h4>
        <h6>Gestion de projets, d'équipes, de budgets et organisations d'évènements type "Week-End Intégration", "Gala de fin d'année", "Salon de l'Etudiant"... </h6>
            <hr>
        <h2>Brancardier<h2>
        <h4>Centre Hospitalier Alès, Occitanie<h4>
        <h4>2011</h4>
        <h6>Réception et transport de patients</h6>
            <hr>
        <h2>Bénévole<h2>
        <h4>Asso. "Habitat&Humanisme", Evreux, Normandie<h4>
        <h4>2007-2009</h4>
        <h6>Récolte de fonds, tractage... </h6>
    
            </div>
        </div>
    </div>
</div>

{% endblock %}